<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title }) %>
  <body>
    <%- include('partials/site-header') %>
    <main class="page">
      <div class="layout-narrow">
        <h1>Page not found</h1>
        <p>Sorry, that page doesn&rsquo;t exist. Try the <a href="/">home page</a>.</p>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
